<p-toast />

<div class="w-auto pt-2 pl-2 pr-2 h-90">    
    <p-card header="Crear Nuevo Menú"  [ngClass]="['mx-auto', 'w-[60%]']" >
        <div class="grid grid-cols-4 gap-4">    
            <div class="col-span-4 pt-2"> 
                <label for="name" class="font-semibold w-24">Nombre</label>
                <input pInputText id="name" class="flex-auto w-full"  
                        [(ngModel)]="newMenu().name"
                        autocomplete="off" />
                @if (isNameRequired()) {
                    <p-message severity="error" size="small" 
                        variant="simple">El Nombre es requerido</p-message>
                }
            </div>
            
            <div class="col-span-4 pt-2"> 
                <label for="path" class="font-semibold w-24">Path</label>
                <input pInputText id="path" class="flex-auto w-full"  
                        [(ngModel)]="newMenu().path"
                        autocomplete="off" placeholder="/ruta/ejemplo (opcional)" />
            </div>

            <div class="col-span-4 pt-2"> 
                <label for="parent" class="font-semibold w-24">Menú Padre</label>
                <p-select [options]="parentMenus" [(ngModel)]="selectedParent"
                    class="flex-auto w-full"  
                    optionLabel="name" placeholder="Seleccionar menú padre (opcional)" />
            </div>

            <div class="col-span-4 pt-2"> 
                <label for="icon" class="font-semibold w-24">Icono</label>
                <input pInputText id="icon" class="flex-auto w-full"  
                        [(ngModel)]="newMenu().icon"
                        autocomplete="off" placeholder="pi pi-home" />
                @if (isIconRequired()) {
                    <p-message severity="error" size="small" 
                        variant="simple">El Icono es requerido</p-message>
                }
            </div>

            <div class="col-span-4 pt-2"> 
                <label for="order" class="font-semibold w-24">Orden Menú</label>
                <input pInputText id="order" type="number" class="flex-auto w-full"  
                        [(ngModel)]="newMenu().order"
                        autocomplete="off" placeholder="1" min="1" />
                @if (isOrderRequired()) {
                    <p-message severity="error" size="small" 
                        variant="simple">El Orden es requerido y debe ser mayor a 0</p-message>
                }
            </div>
            
            <div class="col-span-4 pt-2"> 
                <label for="active" class="font-semibold w-24">Estado</label>
                <p-select [options]="status" [(ngModel)]="selected"
                    class="flex-auto w-full"  
                    optionLabel="description" placeholder="Seleccionar" />
                @if (isStatusRequired()) {
                    <p-message severity="error" size="small" 
                        variant="simple">El Estado es requerido</p-message>
                }
            </div>


        </div>
            <div class="flex justify-end gap-4 pt-3">
                <p-button 
                    label="Crear Menú" 
                    icon="pi pi-check" 
                    styleClass="p-button-sm p-button-success" 
                    (click)="create()" 
                    [disabled]="isFormInvalid()">
                </p-button>
            
                <p-button 
                    label="Limpiar" 
                    icon="pi pi-refresh" 
                    styleClass="p-button-sm p-button-secondary"
                    (click)="reset()">
                </p-button>
            </div> 
    </p-card>
</div>
