<div class="p-4">
  <p-card>
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Órdenes de Compra</h2>
      <p-button label="Nueva OC" icon="pi pi-plus" [routerLink]="['/purchases/order-new']"></p-button>
    </div>
    <app-customtable 
      [genericCol]="cols" 
      #poTable 
      [loaderFunction]="poService.getPurchaseOrders.bind(poService)" 
      [actionsTemplate]="actionTemplate"
      [columnTemplates]="{ 'id': idTemplate }">
    </app-customtable>
    </p-card>
    </div>

    <ng-template #idTemplate let-po>
    <a [routerLink]="['/purchases/order', po.id]" class="text-blue-500 hover:underline  "> {{ po.id }}</a>
    </ng-template>
    <ng-template #actionTemplate let-po>
    <div class="flex gap-1">
      <p-button icon="pi pi-file-pdf" pTooltip="Imprimir OC" text (onClick)="downloadPdf(po.id)"></p-button>
      @if (po.status === 'CONFIRMED') {
          <p-button icon="pi pi-envelope" pTooltip="Enviar a Proveedor" text severity="success" (onClick)="sendEmail(po.id)"></p-button>
      }
      @if (po.status === 'DRAFT') {
          <p-button icon="pi pi-check" pTooltip="Confirmar Orden" text severity="success" (onClick)="confirmOrder(po.id)"></p-button>
      }
      @if (po.status === 'CONFIRMED') {
          <p-button icon="pi pi-truck" pTooltip="Recibir Mercancía" text [routerLink]="['/purchases/receipt', po.id]"></p-button>
      }
      @if (po.status !== 'RECEIVED' && po.status !== 'CANCELLED') {
          <p-button icon="pi pi-times" pTooltip="Anular Orden" text severity="danger" (onClick)="cancelOrder(po.id)"></p-button>
      }
    </div>
    </ng-template>

<p-toast />
